.chapters{
    position: relative;
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.chapter{
    margin:0 auto;
    width: 100px;
    height: 300px;
    display: inline-block;
}

.chapter a{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
}

.chapter_1{
    background: blue;
}
.chapter_2{
    background: red;
}
.chapter_3{
    background: green;
}
.chapter_4{
    background: yellow;
}
.chapter_5{
    background: purple;
}
.chapter_6{
    background: pink;
}